livekit>=1.0
livekit-agents~=1.0
livekit-plugins-groq~=1.0
livekit-plugins-cartesia~=1.0
livekit-plugins-noise-cancellation~=0.2
livekit-plugins-silero
livekit-plugins-turn-detector
huggingface_hub
python-dotenv~=1.0
